
body{
	margin: 0;
	padding: 0;
	display: block;
	color: #fff;
	background: #E5E5E5;
	font-family: 'Roboto', sans-serif;
}
a,p { 
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Yeseva One', cursive;
}


.header{
	width: 100%;
	height: 100vh;
}
.wrapper{
	width: 100%;
	height: auto;
}
.bg{
	position: absolute;
	width: 100%;
	height: 100vh;
}
.container{
	position: relative;
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-row: 2fr, 1fr, 4fr;
}

.menu_left{
	grid-column: 1/3;
	grid-row: 1/2;
	text-align: center;
	text-align-last: justify;
	align-self: center;
}

.menu_logo{
	grid-column: 3/4;
	grid-row: 1/2;
	padding: 25px 50px 0 50px;

}
.logo{
	width: 150px;
	height: 150px;
	
}

.menu_right{
	grid-column: 4/6;
	grid-row: 1/2;
	text-align: center;
	text-align-last: justify;
	align-self: center;
}

.item{
	padding: 10px;
}